/*
名称:
正则网站:
域上网址:
作者:水月仙森
联系方式:chiangchinming@gmail.com
最近更新:2018.1.3
*/

/*****顶部*****/

/*悬浮搜索框*/ {
	display: none !important;
}

/*第一行:搜索框:居中*/
{
	margin: 20px 0 auto 12%;
}

/*搜索框下面的内容上移*/
{
	position: absolute;
	top: 0px;
}

/*****标题*****/

/*标题居中*/ {
	width: 100%;
	text-align: center;
	padding: 20px;
}

/*标题字号*/
{
	font-size: 45px !important;
	margin: 0;
}

/*标题左上:*/

/*标题下方:*/

/*标题下方:*/

/*标题右方:*/

/*****正文:******/

/*正文上方-*/

/*全文背景颜色*/ {
	background-color: #FFFFFF !important;
}

/*正文-边框处理*/
{

	/*增加阴影*/
	-moz-box-shadow: 0px -10px 30px #BBB;
	-webkit-box-shadow: 0px -10px 30px #BBB;
	box-shadow: 0px -1px 20px #BBB;/*调整内外边距*/
	margin: 0 !important;
	padding-bottom: 0px;
	padding: 20px !important;/*圆角*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

/*正文-内容居中*/
{
	width: 100% !important;
	background-color: #FFFFFF !important;
	margin: 0;
	padding: 0;
}

/*正文最下方:回答*/

/*****正文右部:*****/

/*****底部各种*****/

/*****其它*****/

/*底部右方悬浮:建议反馈*/

/*广告插件提示*/

/*各类烦人高亮:小红点,Hot*/ {
	display: none !important;
}
