body {
	font-family: arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.sample-content__title {
	font-size: 1.9em;
	font-weight: normal;
	color: red;
	margin-top: 10px;
	background: yellow;
}


.sample-content {
	color: blue;;
}