## Mozilla 格式:

/*
@-moz-document
- 网址:                      url("^https?://www.mgtv.com/"),
- 网址前缀:                  url-prefix("^https?://www.mgtv.com/"), 
- 该域上的网址:               domain("^https?://www.mgtv.com/"),
- 与该正则表达式匹配的网址:     regexp("^https?://www.mgtv.com/")

示例:
*/

/*鼠标划过显示:*/
.choosedclass {
	opacity: 0;
}

.choosedclass:hover {
	opacity: 1;
	transition-duration: 1s;	/*淡出,N秒后显示*/
	-webkit-transform: rotate(360deg);	/*变换:旋转N度*/
	transform: rotate(360deg);
}

/*居中方法*/

/*1.flew-center*/
.flex-center {
	display: flex;
	justify-content: center;
}

/*2.inline-block-center*/
.inline-block-center {
	text-align: center;
}

/*3.inline-block-center*/
.inline-block-center div {
	display: inline-block;
	text-align: left;
}
