/*百度贴吧首页
^https?://(tieba.baidu.com|www.tieba.com)((/+f\?.*)|(/[0-9a-zA-Z_\%]+([\?#]+.*)*))$
2017.10.23
水月仙森
chiangchinming@gmail.com
*/

/*****全文*****/

/***背景颜色***/

/*正文*/
.wrap1,
#head

/*{background: #dceffe}*/ {
  background: #fff !important;
}

/*****顶部:顶栏,搜索框,贴吧背景,贴吧头部,贴吧分类*****/

/***顶部:1.顶栏***/
.search_top.clearfix,

/*中间-分类:网页新闻贴吧知道*/
.search_nav.j_search_nav,

/*右侧-用户信息*/

.userbar {
  display: none;
}

/***顶部:2.搜索框***/

/*高度*/
#head.search_bright.clearfix {
  height: 56px;
}

/*居中*/
.search_form {
  width: 980px !important;
  height: 40px !important;
  margin: 0 auto !important;
}

.search_main.clearfix {
  height: 44px;
  padding-top: 11px;
  padding-bottom: 0;
}

/*输入框:建议*/
.suggestion {
  display: none !important
}

/***顶部:3.贴吧背景***/
.card_banner.card_banner_link {
  display: none;
}

/***顶部:4.贴吧头部***/

/*左侧-头像:调整*/
.card_top_theme .card_head,
.card_top_theme .card_head_img {
  width: 80px;
  height: 80px;
  margin: auto;
  bottom: 0px;
}

.card_top.clearfix {
  padding-left: 100px
}

/*****贴吧内容:左侧贴吧内容,右侧其它*****/

/***贴吧内容:1.左侧贴吧内容***/

/*贴吧楼主-右方-标志*/
.icon_wrap.icon_wrap_theme1.frs_bright_icons {
  display: none !important
}

/*去除边框,底部分隔线*/
.forum_content {
  background: #fff;     /*去除背景和底部分隔线*/
}

.wrap2 {
  padding-bottom: 0px;
}

/*居中调整*/
#content_wrap.main {
  width: 100%;
  margin: auto;
}

/*增加贴子内容简介宽度*/
.threadlist_abs_onlyline {
  width: 160% !important;
}

/***贴吧内容:2.右侧其它***/

/*贴吧热议、其他所有*/
#aside.aside {
  display: none !important;
}

/*****底部:发表新帖,页底*****/
div[id="pagelet_frs-list/pagelet/thread_footer"],
.foot {
  display: none !important;
}

/*****悬浮*****/

/*首行悬浮搜索框*/
.search_main_fixed {
  display: none !important;
}

/*右侧悬浮*/
div[id="pagelet_frs-footer/pagelet/extension"],
.tbui_aside_float_bar,
.tbui_aside_float_bar.tbui_afb_compact {
  display: none;
}
