/*
名称:百度网盘所有文件
网站:https?://pan.baidu.com/disk/.*
网站:https?://pan.baidu.com/mbox/.*
网站:https?://pan.baidu.com/s/.*;
2017.12.18
水月仙森
chiangchinming@gmail.com
*/

/*****顶部*****/

/***顶部-左侧:百度网盘logo,网盘,分享更多***/

/***顶部-右侧:用户头像,客户端下载,系统通知、意见反馈、皮肤,会员中心***/

/*1.用户头像*/
.JS-user-level.level-0
{display: none!important;}

/*1.用户头像-悬浮*/
.xtJbHcb .PvsOgyb
{width:auto!important;}

.vip-notice,
.vip-privilege,

/*2.客户端下载*/
.Ebdyswb,
.app-download,

/*3.2意见反馈*/
a.icon.icon-feedback.app-feedback.app-icon,

/*4.会员中心*/
a.KQcHyA,

/***顶部-其它***/

/***红点:***/

/*~/home*/
.find-light-icon,
.newIcon,

/*~/discovery*/
.icon-new-msg,
.icon-new-thing,

/*****左侧*****/

/*底部:客户端下载*/
.feNMdtb.g-clearfix,

/*底部:客户端下载上方-容量*/
.GELdyA {
	display: none !important;
}

/*底部:客户端下载上方-容量*/
.aside-absolute-container {
	bottom: 10px !important;
}

/*****底部*****/
#ft,

/*****其它*****/


/*手机下载*/
a.g-button[data-button-id="b5"],
/*举报*/
a.g-button[data-button-id="b7"],

#show-buyvip-pack {
	display: none !important
}