/*
百度搜索搜索页
^https?://www.baidu.com/s.*
2017.10.21
水月仙森
chiangchinming@gmail.com
*/

/*隐藏顶部悬浮搜索框*/

#head {
	position: static;
}

/*****顶部:搜索框,用户信息,导航栏*****/

/***顶部:1.搜索框,用户信息***/

/*搜索框:居中*/
#head.s_down .head_wrapper .s_form,
#head .head_wrapper .s_form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*
#head,
#head.s_down,
#head .head_wrapper,
.s_form,
.s_form_wrapper.soutu-env-mac soutu-env-result
{
width:inherit!iportant;
height:inherit!important;

}
*/
#head {
	margin: 0;
	width: inherit;
}

/*搜索框-输入框:宽度*/

/*
.bg.s_ipt_wr.quickdelete-wrap {
width:80%;
}
*/

/*搜索框-输入框右侧:语音,照相*/
span.ipt_rec,
span.soutu-btn,

/*搜索框-输入框右侧:百度首页*/
a.toindex,

/*搜索框-下方:为您推荐*/
.headBlock,
.hint_toprq_tips.f13.se_common_hint {
	display: none !important;
}

/***顶部:2.用户信息***/

/*用户信息:鼠标滑动显示*/
#u {
	opacity: 1;
}

#u:hover {
	opacity: 1;
}

/***顶部:3.导航栏***/
.s_tab {
	display: none;
}

/*****正文:搜索结果数,搜索结果,相关搜索,页码数*****/

/***正文:边框***/
#content_left {

	/*增加阴影*/
	-moz-box-shadow: 0px -10px 30px #BBB;
	-webkit-box-shadow: 0px -10px 30px #BBB;
	box-shadow: 0px -10px 30px #BBB;/*调整内外边距*/
	margin: 0px !important;
	padding-bottom: 0px;
	padding: 10px 0 10px 40px !important;/*圆角*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

/***正文:页面拉伸***/

/*搜索结果*/

.c-container {
	width: 100% !important;
}

/*正文:2.搜索结果*/
#content_left {
	width: inherit !important;
}

/***正文:内容居中***/

/*正文*/
#container.container_l,

/*正文条目-百度系:贴吧,百科,翻译*/
#content_left .result-op.c-container,

/*正文条目-非百度系*/
#content_left .result.c-container,

/*相关搜索*/
#rs {
	margin: 0 auto !important;
}

/*页码数*/
#page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/***正文:1.搜索结果数***/

/*搜索结果数:居中*/
.nums {
	margin: 0 !important;
	width: 100%;
	text-align: center;
}

/*搜索结果数-右侧:搜索工具*/
.search_tool {
	display: none;
}

/***正文:2.搜索结果***/

/**搜索结果:内容拉伸**/
.c-span18.c-span-last {
	width: inherit;
	overflow: auto !important;
}

/**搜索结果:内容修改**/

/*搜索结果-所有-网址:下划线*/
a:-webkit-any-link {
	text-decoration: none;
}

/*搜索结果-左上-标题:红色高亮*/
a em {
	color: inherit;
	text-decoration: none;
}

/**搜索结果-左侧图片**/

/*百度百科+百度经验*/

/*.c-span6,.c-img.c-img6,*/

/*百度贴吧*/
.op-tieba-general-mainpic,
a.st_com_abstract.c-span6,

/*其它图片*/
.general_image_pic.c-span6 {
	display: none;
}

/**搜索结果-底部-网站链接**/

/*.c-showurl,*/

/**搜索结果-底部-网站链接-右侧:**/

/*百度开放平台*/
.op_LAMP,

/*V1V2V3*/
.c-icon.c-icon-v,

/*百度快照,百度口碑*/
.m,

/*百度口碑-评价*/
.c-pingjia,

/*其它*/
.c-icons-outer,
.c-tools {
	display: none !important;
}

.c-index-hot.c-index.c-gap-icon-right-small {
	background-color: #8eb9f5;
}

/*搜索结果-百度百科:颜色*/
.c-gap-right-small.op-se-listen-recommend,
.op-se-listen-recommend {
	color: #000;
}

/*搜索结果-贴吧:方框*/
table.op-tieba-general-maintable {
	width: 518px !important;
	margin: 9px 9px 9px 9px !important;
	border: 1px solid #e3e3e3;
	border-bottom-color: #e0e0e0;
	border-right-color: #ececec;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .072);
	-webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, .072);
}

td.op-tieba-general-firsttd {
	padding: 9px;
}

td.op-tieba-general-firsttd.op-tieba-general-mainpl {
	padding-top: 0 !important;
	padding-bottom: 0px !important;
}

/*搜索结果-贴吧:颜色*/
.op-tieba-general-right,
.op-tieba-general-linktxt {
	color: #000 !important;
}

/*搜索结果-贴吧:查看更多XX贴吧-*/
.op-tieba-general-lookmore.op-tieba-general-mainpl {
	display: none;
}

/*****各种屏蔽*****/

/*顶部推荐*/
.leftBlock,

/*顶部-导航栏*/
.s_tab,

/*右侧推荐*/
#content_right,

/*底部-相关搜索*/
#rs,

/*网址悬浮*/
.c-tip-con,

/*底部-百度企业信息*/
#foot,

/*底部-页码页*/

span.fk {
	display: none !important;
}

#page a,
#page strong {
	height: 100%;
}

/*其它*/
