/*百度搜索首页
^https?://(www.)?baidu.com/[^/?]*
2017.11.21
水月仙森
chiangchinming@gmail.com
*/

/*****顶栏:左侧,右侧*****/

/*背景透明*/
#s_top_wrap.s-top-wrap {
	display: none;
}

#s_upfunc_menus,
#u_sp {
	background: transparent !important;
	width: auto;
	float: right !important;
}

/*默认隐藏,悬浮显示*/
#s_upfunc_menus.s-upfunc-menus,
#u_sp.s-isindex-wrap.s-sp-menu {
	background: #333;
	opacity: 1;
}

#s_upfunc_menus.s-upfunc-menus:hover,
#u_sp.s-isindex-wrap.s-sp-menu:hover {
	opacity: 1;
}

/***顶栏:1.左侧***/

/*消息*/
#s_icons a.s-msg,

/***顶栏:2.右侧***/

/*hao123*/
a[href="http://www.hao123.com"],

/*新闻*/
a[href="http://news.baidu.com"],

/*地图*/
a[href="http://map.baidu.com"],

/*视频*/
a[href="http://v.baidu.com"],

/*贴吧*/
a[href="http://tieba.baidu.com"],

/*学术*/
a[href="http://xueshu.baidu.com"],

/*更多产品*/
a.bri,

/**/
#s_user_name_menu.s-isindex-wrap.s-user-set-menu.menu-top {
	display: none !important;
}

/*位置调整*/
.pf.s-user-setting-top,
.s-user-name-top {
	padding-right: 20px;
}

/*****正文:百度logo,搜索框*****/

/*位置调整*/

#head_wrapper {
	width: 100%;
	padding: 0 !important;
	margin: auto 0;
	height: 50%;
}

/***正文:2,搜索框/
/*居中对齐*/
form#form.fm {
	text-align: center;
	width: 100%;
}

/*左侧-输入框:调整*/
#kw.s_ipt {
	float: left;
	width: inherit;
}

/*右侧-语音*/
span.ipt_rec,

/*右侧-照相*/
span.soutu-btn

/*右侧-百度一下*/

/*.s_btn_wr*/ {
	display: none !important;
}

/*****底部*****/

/*手机百度+二维码*/
.qrcodeCon,

/*版权信息*/
#ftCon,
#bottom_container.s-bottom-ctner {
	display: none;
}

a.s_bri {
	display: none !important;
}

/*****其它*****/

/*屏蔽滚轮*/::-webkit-scrollbar {
	display: none;
}
