/*
名称:百度网盘所有文件
正则网站:https?://pan.baidu.com/disk/.*
正则网站:https?://pan.baidu.com/mbox/.*
正则网站:https?://pan.baidu.com/s/.*
域上网址:pan.baidu.com
最近更新时间:2017.1.4
作者:水月仙森
联系方式:chiangchinming@gmail.com
*/

/*****顶部*****/

/***顶部-左侧:百度网盘logo,网盘,分享更多***/

/***顶部-右侧:用户头像,客户端下载,系统通知、意见反馈、皮肤,会员中心***/

/**顶部-右侧 1.用户头像**/
.JS-user-level.level-0 {
	display: none !important;
}

/**顶部-右侧 1.用户头像-悬浮**/
.xtJbHcb .PvsOgyb {
	width: auto !important;
}

.vip-notice,
.vip-privilege,

/**顶部-右侧 2.客户端下载**/
.Ebdyswb,
.app-download,

/**顶部-右侧 3.2意见反馈**/
a.icon.icon-feedback.app-feedback.app-icon,

/**顶部-右侧 4.会员中心**/
a.KQcHyA,

/***顶部-其它***/

/*****左侧*****/

/*左侧-底部:客户端下载*/
.feNMdtb.global-clearfix,
.feNMdtb.g-clearfix,

/*左侧-底部:客户端下载上方-容量*/
.GELdyA {
	display: none !important;
}

/*左侧-底部:客户端下载上方-容量*/
.QGOvsxb,
.aside-absolute-container {
	bottom: 10px !important;
}

/*****正文*****/

/***正文-上侧-第一行:上传,新建文件夹,离线下载,我的设备***/

/*4.我的设备*/
.g-dropdown-button.ifqfvZBZ,

/***正文-上侧-第二行:全部文件(路径),全部加载共N个***/
.FcucHsb,

/***正文***/

/*****底部*****/
#ft,

/*****其它*****/

/**红点:**/

/*~/home*/
.find-light-icon,
.newIcon,

/*~/discovery*/
.icon-new-msg,
.icon-new-thing,

/**手机下载**/
a.g-button[data-button-id="b5"],
/**客户端**/
.mmn6eM7,
/**举报**/
a.g-button[data-button-id="b7"],
#show-buyvip-pack,

/**各种**/
.coupon-banner-active.coupon-banner {
	display: none !important;
}

/*屏蔽滚轮*/
::-webkit-scrollbar {
	display: none;
}
